@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

.search-bar {
    @include sizes (100%, 70px);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }